@media only screen and (max-width: 768px) {
  .card {
    height: 302.7px !important;

    .image img {
        @include sizeImage(55%, 55%);
    }
  }

  .frontend-course {
    img {
      @include sizeImage(65%, 65%);
    }

    .java-course img {
      padding-top: 25px;
    }
  }

  .card-body {
    .card-title{
      font-size: 19px;
      margin-top: -15px;
    }

    .card-text {
      margin-top: -10px;
      padding-bottom: 5px;
      font-size: 13px;
    }

    a {
      font-size: 10px;
      padding: 5px 20px 7px 20px;
      margin-left: 18%;
      @include button($bg_color, 24.45px, 116.42px, 35px);
    }
  }

  .other-course {
    font-size: 40px;
    @include sizeImage (250px, 200px);
    margin: 40px 0 0 33%;
  }

  .all-of-course {
    a {
      font-size: 28px;
    }

    img {
      @include sizeImage (5%, 5%);
    }
  }
}

@media only screen and (max-width: 425px) {
  .card {
    height: 360px !important;
    margin-bottom: 20px;
    justify-content: center;
    margin-left: 13% !important;

    .image {
      height: 163px !important;

      img {
        @include sizeImage(60%, 60%);
      }
    }
  }

  .frontend-course {
    margin-top: 20px;

    img {
      @include sizeImage(65%, 65%);
    }
  }

  .card-body {
    a {
      margin-left: 10%;
      font-size: 18px;
      padding: 9px 37px 11px 36px;
      @include button ($bg_color, 200px, 42px, 35px);
    }
  }

  .other-course {
    font-size: 38px;
    margin: 20px 0 0 80px;
    @include sizeImage (243px, 49px)
  }

  .all-of-course a {
    font-size: 24px;

    img {
      @include sizeImage(33px, 18px);
    }
  }
}
