@media only screen and (max-width: 768px) {
  .why-hapolearn {
    height: 420px;
  }
  .why-hapo-content {
    .menu {
      margin-left: 0;

      ul li {
        font-size: 16px;
        list-style-image: url("../image/li-reponsive.png");
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  .why-hapolearn {
    height: 569px;

    .image img {
      margin: -32% 0 -10px;
    }

    .why-header-slogan {
      margin: -130px 0 280px;

      p {
        font-size: 35px;
      }
    }
  }

  .why-hapo-content {
    .menu {
      margin: -50px 0 15px;

      ul li {
        font-size: 14px !important;
      }
    }
  }
}
